.cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 30px;
}

.card {
    width: 150px;
    height: 150px;
    padding: 20px;

    background-color: var(--yellow);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    text-align: center;
    color: var(--off-white);
    user-select: none;
    cursor: pointer;
}

.card .opcao-name {
    font-weight: 600;
    font-size: 20px;
}

.card .opcao-price {
    font-weight: 500;
}

.card .amount-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card .amount-wrapper button {
    width: 40px;
    height: 25px;
    
    border: none;
    border-radius: 5px;

    background-color: var(--orange);
    color: var(--off-white);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s ease;
    cursor: pointer;
}

.card .amount-wrapper button:active {
    opacity: 0.3;
}

@media screen and (min-width: 768px) {
    .cards {
        grid-template-columns: repeat(3, 150px);
        gap: 30px 60px;
    }
}

@media screen and (min-width: 992px) {
    .cards {
        grid-template-columns: repeat(4, 150px);
    }
}

@media screen and (min-width: 1200px) {
    .cards {
        grid-template-columns: repeat(5, 150px);
    }
}