.opcoes-container {
    width: 100%;
    margin: 20px auto;
    padding-inline: 7.69%;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scrollbar-color: transparent transparent;
    user-select: none;
}

.opcoes-container::-webkit-scrollbar{
    height: 1px;
    background-color: transparent;
}

.opcao {
    height: 38px;
    padding-inline: 30px;

    font-weight: 600;
    font-size: 1rem;
    color: var(--off-white);
    background-color: var(--orange);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.opcao:first-child{
    background-color: var(--yellow);
}