.page-heading{
    max-width: 84.58%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

.page-title > h1 {
    font-weight: 500;
    font-size: 28px;
    color: var(--black);
}