.field-bg {
    position: relative;
    width: 100%;
    height: 60vh;
    background-color: var(--off-white);
    border-radius: 30px 30px 0 0;
    bottom: 10%;
    display: flex;
    align-items: center;
}

.field-bg .container {
    position: absolute;
    top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.field-bg header {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.field-bg header ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.field-bg header ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

.field-bg header ul li a {
    text-decoration: none;
    color: var(--beige);
    font-weight: 600;
    font-size: 1rem;
}

.field-bg header ul li a.a-left.selected {
    color: var(--orange);
    position: relative;
}

.field-bg header ul li a.a-left.selected::after{
    content: '';
    width: 101.56px;
    height: 1px;
    border-radius: 1px;
    background-color: var(--orange);
    position: absolute;
    left: -5px;
    top: 22px;
}

.field-bg header ul li a.a-right.selected {
    color: var(--orange);
    position: relative;
}

.field-bg header ul li a.a-right.selected::after{
    content: '';
    width: 77.59px;
    height: 1px;
    border-radius: 1px;
    background-color: var(--orange);
    position: absolute;
    left: -5px;
    top: 22px;
}

h1{
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--black);
}

.login-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login-inputs input {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: var(--light-gray);
    font-size: 1rem;
    font-weight: 400;
    color: var(--black);
    padding: 15px 20px;
}

.login-inputs input:focus {
    outline: 1px solid var(--orange);
}

::-webkit-input-placeholder {
    color: #968F86;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #968F86;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #968F86;  
 }
 
 :-ms-input-placeholder {  
    color: #968F86;  
 }

.password-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.password-input-wrapper a {
    text-align: right;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--orange);
}

.field-bg .container .button {
    width: 150px;
    border: none;
    border-radius: 30px;
    padding: 13px 30px;
    background-color: var(--orange);
    color: var(--off-white);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.form-elements {
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.field-bg .form-elements > a {
    text-decoration: none;
    color: var(--orange);
    font-size: 0.8rem;
    font-weight: 400;
}

.field-bg .form-elements > a > span {
    color: var(--black);
}


@media screen and (min-height: 1180px){
    .field-bg {
        border-radius: 60px 60px 0 0;
    }

    .field-bg .container {
        position: static;
    }

    .field-bg header {
        margin-bottom: 60px;
    }
    
    .field-bg header ul{
        gap: 60px;
    }
    
    .field-bg header ul li a {
        font-size: 2rem;
    }

    .field-bg header ul li a.a-left.selected::after{
        content: '';
        width: 203.12px;
        height: 2px;
        border-radius: 1px;
        background-color: var(--orange);
        position: absolute;
        left: -10px;
        top: 44px;
    }

    .field-bg header ul li a.a-right.selected::after{
        content: '';
        width: 155.18px;
        height: 2px;
        border-radius: 1px;
        background-color: var(--orange);
        position: absolute;
        left: -10px;
        top: 44px;
    }

    h1{
        font-weight: 500;
        font-size: 5rem;
        color: var(--black);
    }

    .login-inputs {
        gap: 60px;
    }

    .login-inputs input {
        font-size: 2rem;
        padding: 30px 40px;
    }

    .password-input-wrapper {
        gap: 30px;
    }

    .password-input-wrapper a {
        font-size: 1.6rem;
    }

    .field-bg .container .button {
        width: 300px;
        border-radius: 60px;
        padding: 26px 60px;
        font-size: 2rem;
    }

    .form-elements {
        padding-bottom: 60px;
        gap: 60px;
    }

    .field-bg .form-elements > a {
        font-size: 1.6rem;
    }
    
}

@media screen and (min-width: 992px) {
    .field-bg {
        position: static;
        width: 50%;
        height: 80vh;
        border-radius: 30px 0 0 30px;
    }

    .field-bg .container {
        position: static;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1200px) {

    .field-bg .container {
        position: static;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}