.mesas-container {
    max-width: 84.58%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mesas-container .legend {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mesas-container .legend .legend-name {
    display: flex;
    align-items: center;
    gap: 5px;
}

.mesas-container .legend .legend-name > p{
    font-size: 12px;
    font-weight: 400;
    color: var(--black);
}

.mesas-container .legend .legend-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.mesas-container .legend .disponivel {
    background-color: var(--disponivel);
}

.mesas-container .legend .consumo {
    background-color: var(--consumo);
}

.mesas-container .legend .pagamento {
    background-color: var(--pagamento);
}

.mesas-cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 30px;
}

@media screen and (min-width: 768px) {
    .mesas-cards {
        grid-template-columns: repeat(3, 150px);
        gap: 30px 60px;
    }
}

@media screen and (min-width: 992px) {
    .mesas-cards {
        grid-template-columns: repeat(4, 150px);
    }
}

@media screen and (min-width: 1200px) {
    .mesas-cards {
        grid-template-columns: repeat(5, 150px);
    }
}